@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
  box-sizing:border-box;
  font-family: 'Kanit', sans-serif;
}

body{
  background-color: #cecece;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container{
  margin:30 px auto;
  width:350 px;

}